<%include ../partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="<%=campground.image%>" alt="<%=campground.name%>">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-12 d-flex justify-content-between">
                            <a href="/campgrounds/<%=campground._id%>"><h4 class="card-title"><%=campground.name%></h4></a>
                            <h4>$<%=campground.price%>/night</h4>
                        </div>
                    </div>
                    <p class="card-text"><%= campground.description%></p>
                    <p>
                        <em>Submited by <%=campground.author.username%></em>
                    </p>
                    <%if(currentUser && campground.author.id.equals(currentUser._id)){%>
                    <a href="/campgrounds/<%=campground._id%>/edit" class="btn btn-info btn-sm">Edit</a>
                    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST" class="deleteForm">
                        <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form>
                    <%}%>
                </div>
            </div>
            <br>
            <h3>Comments:</h3>
            <div class="card">
                <div class="card-body bg-light">
                    <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add New Comment</a>
                    </div>
                    <hr>
                    <%campground.comments.forEach((comment)=>{%>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-left"><%=comment.author.username%></strong>
                                    <span class="text-right">
                                    <%=comment.date.toDateString()%>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <%=comment.text%>
                                </p>
                                <%if(currentUser && comment.author.id.equals(currentUser._id)){%>
                                <div class="text-right">
                                    <a 
                                    href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit" 
                                    class="btn btn-sm btn-light" title="edit"><i class="far fa-edit"></i></a>
                                    <form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" class="deleteForm">
                                        <button class="btn btn-sm btn-light" title="delete"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </div>
                                <%}%>
                            </div>
                        </div>
                        <hr>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
</div>

<%include ../partials/footer%>